flask==2.3.3
werkzeug==2.3.7
requests==2.31.0
azure-identity==1.15.0
azure-mgmt-containerinstance==10.1.0
azure-mgmt-resource==23.1.0
mysql-connector-python==8.2.0
passlib==1.7.4
bcrypt==4.0.1
requests
